@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root{
  --red-color:#A40101;
  --blue-color:#2CA3AB;
  --grey-color:#C4C4C4;
  --orange-color:#F3610E;
  --darkblue-color:#1D1B45;
  --lightblue-color:#a8dde0;
  --dark-color:#191919;
  --blue2-color:rgba(85, 185, 192, 0.15);
  --white-color:#FFFFFF;
  --darkorange-color:#da5f18;
}
*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 16px;

}
/*Estilos Index*/
.headerhome{
  display: flex;
  flex-direction: column;
  padding: 0px 60px 0px 95px;
  border-top: 3px solid var(--dark-color);
}

.partuno{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.partuno h3{
  text-align: justify;
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 300;
  padding-top: 15px;
}
.prtuno i{
  color:var(--white-color);
  background-color: var(--orange-color);
  border-radius: 50%;
  padding: 5px;
  margin: 0 15px;
}

.prtuno{
  display: flex;
  align-items: center;
  margin: 0 130px;
}

.log{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.cajalogo{
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin-right:90px;
}
.log i{
  font-size:60px;
  color:var(--orange-color);
}
.botonlog{
  background-color: var(--darkblue-color);
  color: var(--white-color);
  font-weight: bold;
  padding: 8px;
  border-radius: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.botonlog i{
  padding-left: 5px;
}

.bannerclass{
  background-image: url(../img/2.\ medico.png);
  background-size: cover;
  height: 500px;
}
#textobanner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
  height: 100%;
}

#textobanner h2{
  color: var(--orange-color);
  font-size: 40px;
  font-weight: 600;
  margin:0 5px ;
}

#textobanner h1{
  color: var(--dark-color);
  font-size: 50px;
  font-weight: 600;
  margin: 5px;
}

.franja{
  width: 100%;
  border: none;
}

#corona{
  background-image: url(../img/4.\ covid.jpeg);
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  margin: -6px 0;
}
.cajacorona{
  display: flex;
  background-image: url(..//img/Rectangle\ 26.png);
  background-size:cover;
  justify-content: space-around;
  width: 10000px;
}
#sintomas{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-left: 100px;
}

.iconotexto{
  width: 30px;
  height: 30px;
  margin: 0px 15px;
}

.iconoparrafo{
  width: 30px;
  height: 30px;
}

#corona h3{
  display: flex;
  font-size: 20px;
  align-items: center;
  color: var(--darkblue-color);
}

#sintomas ul {
  list-style-type: none;
}
.iconolista{
  width: 20px;
  height: 20px;
  margin: 2px 10px;
}
#sintomas li{
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
  color: var(--dark-color);
  padding: 1px;
  margin: 10px;
}
#ayuda{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 100px;
}
.ayuda1{
  text-align: justify;
}

.ayuda1 p{
  width: 90%;
  text-align: justify;
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 300;
}

.ayuda2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.imgcurso{
  width: 150px;
}

.ayuda2 a{
  margin-bottom: 40px;
  color: var(--darkblue-color);
  text-decoration: underline;
}

.secinfo{
  background-color: var(--dark-color);
  padding: 10px;
  padding-top: 10px;
  margin:0px;
  border-bottom: 5px solid gray;
  color: var(--white-color);
} 
a{
  text-decoration: none;
}
.secinfo1{
  background-color: var(--dark-color);
  padding: 10px;
  padding-top: 10px;
  margin:0px;
  border-top: 5px solid var(--dark-color);
  border-bottom: 5px solid gray;
  color: var(--white-color);
} 

.secinfo2{
  background-color: var(--dark-color);
  padding: 10px;
  padding-top: 10px;
  margin:0px;
  border-bottom: 10px solid var(--white-color);
  color: var(--white-color);
} 

/*Estilos login*/
.lg{
  background-image: url(../img/10.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  margin: 65px auto;
}

.contenedor {
  width: 100%;
}

.boton1{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: var(--darkblue-color);
    border: 2px solid var(--blue-color);
    border-radius: 10px;
    color: var(--white-color);
    padding: 5px 5px;
    text-align: center;
    width: 140px;
    height: 34px;
    margin-left: 360px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 400;
}

.contenedor2{
  box-shadow: 1px  1px 6px var(--dark-color);
  border-radius: 17px;  
}

.logo {
  width: 100%;
  height: 254px;
  background-color: var(--lightblue-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.logo img {
  padding-top: 70px;
}

.logo h2{
    font-weight:500;
    font-size: 16px;
    color: var(--dark-color);
}

.login {
  background-color: var(--white-color);
  width: 100%;
  height: 301px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;

}

.formu{
    height: 90%;
    width: 90%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.npt{
    width: 75%;
    height: 38px;
    background-color: rgba(143, 222, 228, 0.144);
    border: 1px solid var(--blue-color);
    border-radius: 14px;
    padding-left: 10px;
    box-sizing:border-box;
}

.lbl{
    width: 70%;
    font-family: 'Poppins',sans-serif;
    font-size: 16pt;
    text-align: center;
    padding: 5px 30px; 
    font-size: 16pt;
    font-weight: 500;
    margin-top: 15px;
}

#boton2{
    width: 135px;
    height: 34px;
    font-family: 'Poppins',sans-serif;
    background-color:var(--darkorange-color);
    border: 2px solid var(--blue-color);
    border-radius: 9px;
    color:var(--white-color);
    text-align: center;
    cursor: pointer;
    padding: 8px 20px ;
    font-size: 13px;
    margin-bottom: 30px;
    } 

.formu a{
    font-weight: 600;
    font-size:12px;
    cursor: pointer;
    color: var(--dark-color);
    text-decoration: underline;
}

/*Estilo formpacientes*/
.encabezado{
  background-color: var(--dark-color);
  display: flex;
  padding: 30px  5px;
  justify-content: space-between;
}

.encabezado img{
  margin: auto;
}

#btnform{
  display: flex;
}

.btnformuno{
  width:60px;
  height:60px;
  margin: 5px;
  border-radius: 50%;
  font-size:30px;
  border: 2px solid var(--blue-color);
  color: var(--dark-color);

}

.fotohead img{
  width: 100%;
  border-bottom: 6px solid var(--blue-color);
}

#tituno{
  background-color: var(--darkblue-color);
  text-align: center;
  border-radius: 4px;
  color:white;
  font-weight: 100;
  padding: 5px;
  font-size: 22px;
}

#borform{
border: 1px solid var(--darkblue-color);
margin: 1px 1px 20px;
display: flex;
flex-direction: column;
justify-content: center;
}

#cajaf{
  display: flex;
  justify-content: center;
  background-color: var(--grey-color);
  margin: 25px 25px 5px 25px;
  border-radius: 10px;
  border: 1px solid var(--darkblue-color);
  padding: 15px;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--blue-color);
  width: 99%;
  border: 1px solid var(--darkblue-color);
  border-radius: 4px;
  height: 30px;
  margin: auto;  
}

.bar img {
  width: 20px;
  height: 20px;
} 

.texto{
  position: relative;
}
.icono{
  position: absolute;
  left: -600px;
  top: 14px;
}   
  
.iconodos{
  position: absolute;
  left: -560px;
  top: 14px;
  }  
  
.bar1 {
  font-size: 16px;
  font-weight: 100;
  }
  
.initial input{
  width: 300px;
  height: 30px;
  border: 1px solid #2ca3abd5;
  margin: 10px 10px 10px 20px;
  padding: 0 10px;
  color: gray;
}

.datosp{
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.datosp input{
  width: 686px;
  height: 30px;
  border: 1px solid #2ca3abd5;
  margin: 10px 20px ;
  padding: 0 10px;
  color: gray;
}

.datosp select{
  width: 708px;
  height: 30px;
  border: 1px solid #2ca3abd5;
  margin: 10px 18px ;
  color: gray;
  padding: 0 8px;
}

.datosp{
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.pr input{
  width: 25%;
  height: 30px;
  border: 1px solid var(--blue2-color);
  margin: 10px 10px;
  padding: 0 10px;
  color: gray;
}

.pr select{
  width:33%;
  height: 30px;
  border: 1px solid var(--blue2-color);
  margin: 10px 15px 10px 20px;
  color: gray;
}

.radio{
  font-size: 16px;
  color: gray;
  display: flex;
  flex-direction: column;
  margin: 0 20px;  
}

.opradio{
  width: 10%;
  display:flex ;
  align-items: center;
  justify-content: space-around;
  margin:auto ;
  padding: 10px;
}

#borform button{
  margin: 10px auto 60px ;
  background-color: var(--darkorange-color);
  width: 8%;
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  font-weight: 100;
}

#ftform{
  display: flex;
  width: 100%;
  height: 60px;
  background-color: var(--dark-color);
  color: var(--white-color);
  align-items:flex-start;
  justify-content: center;
  font-size: 14px;
  font-weight: 100;
}
/*Estilos dashboard*/
#contdsh{
  display: flex;
}
.bardsh{
  display: flex;
  flex-direction: column;
  background-color: var(--dark-color);
  flex-basis: 20%;
  height: 100vh;
}

.grupodsh{
  margin: auto 0px;
}
.botondsh{
  background-color: var(--grey-color);
  margin: 10px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: 3px solid var(--orange-color);
  border-radius: 10px;
}

.botondsh a{
  color: var(--dark-color);
  font-weight: 600;
}

.contenidodsh{
  display: flex;
  flex-direction: column;
  background-color: var(--grey-color);
  flex-basis: 80%;
  max-height: 100vh;
  justify-content: space-between;
  background-image: linear-gradient(rgba(255, 255, 255, 0.658), rgba(255, 255, 255, 0.658)), url(../img/13.\ guerreros.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: 95%;
}

.grupocontenido{
  text-align: center;
}

#btnuser{
  background-color:#c0c2c3;
  width: 16%;
  margin-left: 1040px;
  margin-top: 15px;
  height: 60px;
  border-radius: 10px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btnuser i{
  color: var(--dark-color);
  margin-right: 10px;
  background-color: var(--white-color);
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  border: 3px solid var(--orange-color);
}

#btnuser a{
  color: var(--dark-color);
  margin-right: 10px;
}

.iconousuario{
  width: 30px;
}

.footerdhs{
  display: flex;
  width: 100%;
}
.footerdhs img{
  width: 100%;
}